{% extends 'base.html.twig' %}

{% block title %}Nouveau Batiment{% endblock %}

{% block body %}
<div class="form-card">
    <h2>Création d'un nouveau bâtiment</h2>

    {{ include('batiment/_form.html.twig') }}
</div>
{% endblock %}
