<form method="post"
      action="{{ path('app_appartement_delete', {'id': appartement.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de supprimer cet appartement ?');"
      style="display: inline-block; margin: 0;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appartement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
