{% extends 'base.html.twig' %}

{% block title %}Nouvel Appartement{% endblock %}

{% block body %}
    <div class="form-card">
        <h2>Création d'un nouvel appartement</h2>

        {{ include('appartement/_form.html.twig') }}
    </div>
{% endblock %}
