{% extends 'base.html.twig' %}

{% block title %}Nouvel Appartement{% endblock %}

{% block body %}
    <h1>Création d'un nouvel appartement</h1>

    {{ include('appartement/_form.html.twig') }}

    <a href="{{ path('app_appartement_index') }}">Accueil</a>
{% endblock %}
