<form method="post"
      action="{{ path('app_contrat_delete', {'id': contrat.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce contrat ?');"
      style="display: inline-block; margin: 0;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>