{% extends 'base.html.twig' %}

{% block title %}Modifier le contrat{% endblock %}

{% block body %}
    <h1>Modifier le contrat</h1>

    {{ include('contrat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_contrat_index') }}">Accueil</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
