{% extends 'base.html.twig' %}

{% block title %}Nouveau Contrat{% endblock %}

{% block body %}
    <div class="form-card">
        <h2>Création d'un nouveau contrat</h2>

        {{ include('contrat/_form.html.twig') }}
    </div>
{% endblock %}